<p id="notice"><%= notice %></p>

<h1>Users</h1>
<div class="text-right">
  <%= link_to 'Nouveau', new_user_path,class:'btn btn-success' %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <td><%= user.bio %></td>
        <td><%= link_to 'Voir Plus', user,class:'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


